/* basic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* здесь взяли шрифты с google fonts  */
    font-family: 'Inter', sans-serif;
}

/* header */

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    margin: 0 auto;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.img {
    width: 200px;
    height: 250px;
    border-radius: 30px;
}

.header_social {
    display: flex;
    list-style-type: none;
}

.phone-click {
    text-decoration: none;
    color: #A9A9FD;
}

.mail-click {
    text-decoration: none;
    color: #A9A9FD;
}

.header-text {
    text-align: center;
}


.header-info {
    padding-left: 50px;
}

.social_icon_vk,
.social_icon_telegram,
.social_icon_whatsUp {
    width: 32px;
    height: 23px;
}

.info-box {
    margin-top: 50px;
    width: 940px;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    background-color: #e7e7e7;
}

.info-list>li {
    padding: 8px;
    margin-left: 50px;
    padding-right: 50px;
    list-style-type: none;
    color: #9999A3;
}

.right>li {
    color: black;
}

.experience-text {
    padding: 10px 320px;
    color: #9999A3;
}

/* main */
.main-wrapper {
    padding-top: 30px;
    padding-left: 70px;
}

.main-box {
    padding-left: 250px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

/* ==== */

.main-content {
    max-width: 64%;
}

.main-list:nth-child(1n) {
    color: #9999A3;
}

.main-text {
    background-color: #A9A9FD;
    color: white;
    border-radius: 7px;
    padding: 5px;
}

.more {
    background-color: #F1A9FD;
    color: white;
    border-radius: 7px;
    padding: 5px;

}


/* нужно добавить стили для контента */
/* и стилизовать остальные секции */

.skills,
.language,
.about {
    margin-left: 320px;
    margin-bottom: 50px;
}

span {
    padding: 12px;
    border-radius: 12px;
    background-color: #F5F5FA;
}

.language p {
    padding-bottom: 30px;
}

.skills p {
    padding-bottom: 30px;
}

.info-list div {
    border-bottom: 1px solid #EDEDF9;
}